<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- just for test local package -->
    <!-- <add key="Local AbacatePay SDK" value="/home/oismaelash/personal/abacatepay-dotnet-sdk/packages" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
